
body{
	background-color: rgb(130, 130, 128);  
	color: rgb(0, 0, 0);
	font-weight: bolder;
}

.butt{
	margin-top: 20px;
	margin-left: 100px;
}

.gender{
	margin-top: 10px;
}

.row{
	margin-top: 10px;
}
